<div class="container">

  <div class="mt-5">

    <form [formGroup]="expenseForm" novalidate>
      <div class="form-group">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="input-group">
              <expense-category-selector></expense-category-selector>
              <input type="text" class="form-control" aria-label="Text input with dropdown button"
                     placeholder="Expense description...">
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" formControlName="expenseDescription"
                     aria-label="Amount (to the nearest dollar)" placeholder="0.00">
            </div>
          </div>
          <div class="col-md-1 col-sm-12">
            <button type="button" class="btn btn-block btn-success">Add</button>
          </div>
        </div>
      </div>
    </form>

  </div>

  <!--<p>Form value: {{ expenseForm.value | json }}</p>-->
  <!--<p>Form status: {{ expenseForm.status | json }}</p>-->

  <div class="mt-4">
    <expenses-table></expenses-table>
  </div>

</div>
