<div class="container">

  <div class="mt-5">
    <div class="row">
      <div class="col-8">
        <div class="input-group">
          <expense-category-selector></expense-category-selector>
          <input type="text" class="form-control" aria-label="Text input with dropdown button">
        </div>
      </div>
      <div class="col-3">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-block btn-success">Add</button>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <expenses-table></expenses-table>
  </div>

</div>
